<div class="container">
  <h1>Make a Comment</h1>
  <%= form_for [@movie, @comment] do |f| %>
  <%= f.label :body %>
  <%= f.text_area :body, required: true %>
  <br/>

  <button class="btn waves-effect waves-light" type="submit" name="action">
    <%= f.submit %>
  </button>
<% end %>
</div>
</body>