
<h1>uToob Gallery</h1>
<div class="cards-container grid  cards">
  <div class="row">
    <% @movies.each do |movie| %>
      <div class="col s12 m6 l3">
          <div class="card green white-text lighten-3">
            <div class="card-content white-text">
              <span class="card-title white-text centered"><%= link_to movie.title, movie %></span>
              <iframe src="<%= movie.trailer %>"></iframe>
            </div>
            <div>
              <%= link_to movie.description, movie%>
            </div>
          </div>
      </div>
    <% end %>
  </div>
