<h2>Welcome
</h2>
<h1>Movies#index</h1>

<h1>Youtube Navbar</h1>

<%= button_to 'Log Out', destroy_user_session_path, method: :delete %>
<p>Find me in app/views/movies/index.html.erb</p>
<!-- <div class="spacy_space"> <div class="ui four cards olive"> <% @movies.each do |movie| %> <div class = "ui card"> <div class="content centered" > <img ifram stuff> <br> <%= link_to movie.name, movie%> </div> </div> <% end %> </div> </div> -->
<% @movies.each do |movie| %>
  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
          <img iframe="iframe" stuff="stuff">
        </div>
        <div class="card-action">
          <%= link_to movie.name, movie%>
        </div>
      </div>
    </div>
  </div>
<% end %>