.card {
  width: content;
  text-decoration: none;


}
a {
  color: white !important;
  // text-decoration: none !important;
  font-family: sans;
}

.centered {
  text-align: center;
  align-content: center;
}
