// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .mcard {
//   max-width: 300px;
//   max-height: 300px;
// }
// .AI {
//   max-width: 100px;
//   max-height: 100px;
// }
.card {
  width: content;
  text-decoration: none;


}
a {
  color: white !important;
  // text-decoration: none !important;
  font-family: sans;



}
